@font-face {
  font-family: OstrichSans;
  src: url(./OstrichSans-Heavy.otf);
}
h1{
  font-family: OstrichSans;
  color: #724C4C;
  font-size: 10vw;
  margin: 3px 0px;
}
h3{
  margin: 5px 0px;
}
body{
  background-color: #FFE8E8;
}
.App {
  text-align: center;
  margin:2vw;
}

.container{
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.card-container {
	perspective: 1000px;
  width: 8vw;
  height: 8vw;
  margin: 5px 0px;
}
.card-container.clicked .card {
		transform: rotateY(180deg);
}

.card-container .front, .back {
	width: 8vw;
	height: 8vw;
  border-radius: 5px;
}

.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0; left: 0;
}

.front {
	z-index: 2;
  background-color: #CABFEF;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
  background-color: pink;
}

.winner {
  display: none;
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 44px;
}
.winner > button {
  background-color: rgb(43, 43, 43);
}
.winner > button:hover {
  background-color: rgb(17, 17, 17);
}
.winner > p {
  font-family: OstrichSans;
  margin: 5px;
}
.disp {
  display: flex;
}
button {
  color: white;
  background-color: #383838;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  margin: 10px;
  outline: none;
}
button:hover {
  background-color: #272626;
}
.foot{
  margin-top: 10px;
}
.foot > a{
  color: #724C4C;
}
.foot > a:visited{
  color: #472a2a;
}
.foot > a:hover{
  color: #775a5a;
}